#Secrets
SAGE_USER=
SAGE_PASS=
HF_TOKEN=

#weaviate
#https://weaviate.io/developers/weaviate/config-refs/env-vars
BIND_INFERENCE_API=http://multi2vec-bind:8080
RERANKER_INFERENCE_API=http://reranker-transformers:8080
QUERY_DEFAULTS_LIMIT=25
AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED='true'
PERSISTENCE_DATA_PATH='/var/lib/weaviate'
DEFAULT_VECTORIZER_MODULE='multi2vec-bind'
ENABLE_MODULES='multi2vec-bind,reranker-transformers,backup-filesystem'
BACKUP_FILESYSTEM_PATH='/tmp/backups'
CLUSTER_HOSTNAME=node1
#https://weaviate.io/developers/weaviate/concepts/vector-index#asynchronous-indexing
ASYNC_INDEXING=true
#https://weaviate.io/blog/weaviate-1-18-release#improvements-to-bm25-and-hybrid-search
USE_BLOCKMAX_WAND=true
USE_INVERTED_SEARCHABLE=true
LIMIT_RESOURCES=true
#default is info
# LOG_LEVEL: 'debug'
#https://weaviate.io/developers/weaviate/configuration/monitoring 
# PROMETHEUS_MONITORING_ENABLED: true
# PROMETHEUS_MONITORING_PORT: 2112

#triton
# Ensure this path matches the model repository directory 
MODEL_REPOSITORY=/app/models
CLIP_MODEL_PATH=/models/DFN5B-CLIP-ViT-H-14-378
CLIP_MODEL_VERSION=419d1f8f6a96aabaf5913c526d059facda50c24b
GEMMA_MODEL_PATH=/models/gemma-3-4b-it
GEMMA_MODEL_VERSION=093f9f388b31de276ce2de164bdc2081324b9767

#weavloader
TRITON_HOST=triton
TRITON_PORT=8001
WEAVIATE_HOST=weaviate
WEAVIATE_PORT=8080
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
UNALLOWED_NODES="W042,N001,V012,W015,W01C,W01E,W024,W026,W02C,W02D,W02E,W02F,W031,W040,W046,W047,W048,W049,W04A,W051,W055,W059,W05A,W05B,W05C,W05D,W05E,W05F,W060,W061,W062,W063,W064,W065,W066,W06E,W072,W073,W074,W075,W076,W077,W078,W079,W07A,W07B,W07D,W07E,W07F,W080,W081,W086,W088,W089,W08A,W08B,W08D,W08E,W08F,W090,W091,W092,W094,W096,W099,W09B,W09E,W0A0,W0A1,W0BB,W0BC"
LOG_LEVEL='INFO'
MONITOR_DATA_STREAM_INTERVAL=60
MONITOR_DATA_STREAM_QUERY_DELAY_MINUTE=5
LLM_RUN_MODE=TRITON
# IF LLM_RUN_MODE is set to NRP
# NRP_API_KEY=
# NRP_API_ENDPOINT=
# NRP_LLM_MODEL=

#gardio-ui
WEAVIATE_HOST=weaviate
WEAVIATE_PORT=8080
WEAVIATE_GRPC_PORT=50051
CLUSTER_FLAG=True