<!doctype html>
<title>Python Flask Image search using image and text query</title>
<div>
    <h2>Enter Sage Query</h2>
    <form method="post" action="/set_query" >
		<p>
			<input type="text" id="username" name="username" placeholder="Enter your username">
		</p>
			<input type="text" id="token" name="token" placeholder="Enter your token">
		</p>
		<p>
		<p>
			<label for="query">Enter your Sage query as Python code (output results to df):</label>
		</p>
			<textarea name="query" placeholder="Enter your Sage query as Python code (output results to df)" rows="4" cols="50">
df = sage_data_client.query(
	start="-24h",
	#end="2023-02-22T23:00:00.000Z",
	filter={
		"plugin": "registry.sagecontinuum.org/theone/imagesampler.*",
		"vsn": "W088"
		#"job": "imagesampler-top"
	}
).sort_values('timestamp')
			</textarea>
		</p>
		<p>
			<div class="loading" id="loading">Loading...</div>
		</p>
		<p>
			<div id="loaded" class="loaded" {% if data_loaded %} style="display:block;" {% else %} style="display:none;" {% endif %}>
				Data loaded
			</div>
		</p>		
		<p>
			<input type="submit" value="load data">
			<button type="button" onclick="clearData()">clear data</button>
		</p>
    </form>
</div>
<div>
<h2>Select an image file to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if filename %}
	<div>
        <figure>
		    <img src="{{ url_for('display_image', filename=filename) }}">
		</figure>
		<br>
		{% if certainty %}
			<h1>Certainty Scores</h1>
			{% for c in certainty %}
				<h4>{{c}}</h4>
			{% endfor %}
		{% endif %}
		<br>
		<h1>The below 3 images are most similar to the uploaded image.</h1>
		<figure>
			<img src="{{ url_for('static', filename='Images/'+imagePath[0]) }}">
			<img src="{{ url_for('static', filename='Images/'+imagePath[1]) }}">
			<img src="{{ url_for('static', filename='Images/'+imagePath[2]) }}">
        </figure>
	</div>
{% endif %}
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Search similar Images">
	</p>
</form>
</div>

<div>
	<h2>Enter a text description to find similar image</h2>
	
	<div>
		<h4>Below are top 3 results that match the description - <h3 style="color: red;">{{description}}</p></h3>
		{% if certainty and not filename %}
			<h1>Certainty Scores</h1>
			{% for c in certainty %}
				<h4>{{c}}</h4>
			{% endfor %}
		{% endif %}
        {% if images %}
		<h1>Images</h1>
		<figure>
			{% for i in images %}
			    <img src="{{ url_for('static', filename='Images/'+i) }}">
			{% endfor %}
		</figure>
        {% endif %}
		{% if texts %}
		<h1>Texts</h1>
		    {% for j in texts %}
			    <h4>{{j}}</h4>
			{% endfor %}
		{% endif %}
	</div>
	
	<form method="post" action="/text_description" >
		<input type="text" name="description">
        <input type="submit" value="Search image similar to this text">
	</form>
</div>
<style>
    .loading {
        display: none;
    }
	.error {
            border: 2px solid red;
        }
</style>
<script>
    // JavaScript to show loading indicator when form is submitted
    document.querySelector('form').addEventListener('submit', function() {
        document.getElementById('loading').style.display = 'block';
    });

    function clearData() {
        // Submit the form to the /clear_data route when the "clear data" button is clicked
        document.querySelector('form').action = '/clear_data';
        document.querySelector('form').submit();
    }

	// Get the input element
	var t_input = document.getElementById('token');
	var u_input = document.getElementById('username');

	window.onload = function() {
		// Check if the input field is empty
		if (t_input.value === '') {
			// If empty, add the 'error' class to highlight it in red
			t_input.classList.add('error');
		}
		
		// Check if the input field is empty
		if (u_input.value === '') {
			// If empty, add the 'error' class to highlight it in red
			u_input.classList.add('error');
		}
    };

    // Add an event listener to the input element
    t_input.addEventListener("input", function() {
        // Check if the input value is empty
        if (t_input.value === "") {
            // If empty, add a CSS class to highlight in red
            t_input.classList.add("error");
        } else {
            // If not empty, remove the CSS class
            t_input.classList.remove("error");
        }
    });

    // Add an event listener to the input element
    u_input.addEventListener("input", function() {
        // Check if the input value is empty
        if (u_input.value === "") {
            // If empty, add a CSS class to highlight in red
            u_input.classList.add("error");
        } else {
            // If not empty, remove the CSS class
            u_input.classList.remove("error");
        }
    });
</script>