# Blades
# TODO: seperate the requirements for different GPUs
#-----------------------------
# Florence 2 base model support
# torch
# torchvision
# --index-url https://download.pytorch.org/whl/cu116

# Qwen 2.5 model and quantization support
# --index-url https://download.pytorch.org/whl/cu121
# torch==2.1.0+cu121
# torchvision==0.16.0+cu121
# numpy<2 #<--- numpy 2.0 is not compatible with transformers

# H100
#-----------------------------
# Qwen 2.5 & Gemma3 model
--index-url https://download.pytorch.org/whl/cu126
torch==2.6.0+cu126
torchvision==0.21.0
numpy<2 # <--- numpy 2.0 is not compatible with transformers

#gemma3 hosted by NRP
#-----------------------------
# --index-url https://download.pytorch.org/whl/cu126
# torch==2.6.0+cu126
# numpy<2