weaviate_client==4.10.* #https://weaviate.io/developers/weaviate/release-notes#weaviate-core-and-client-releases
gradio==5.14.0
Pillow==10.4.*
plotly==6.0.*
langchain==0.3.*
langchain_community==0.3.*
langchain-ollama==0.2.*
langgraph==0.2.*
tabulate==0.9.*
sage_data_client==0.7.1
Requests
langchain-mcp-adapters
mcp